@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap')

//Colors
$black: #000000
$black-light: #555555
$black-dark: #333333
$white: #FFFFFF

//Fonts
@font-face
  font-family: 'Akrux Bold'
  src: url('../../share/assets/fonts/Akrux-Bold.woff2') format('woff2')
@font-face
  font-family: 'Akrux Light'
  src: url('../../share/assets/fonts/Akrux-Light.woff2') format('woff2')
@font-face
  font-family: 'Akrux Regular'
  src: url('../../share/assets/fonts/Akrux-Regular.woff2') format('woff2')
@font-face
  font-family: 'Inno'
  src: url('../../share/assets/fonts/Inno.woff2') format('woff2')
@font-face
  font-family: 'Kopdher'
  src: url('../../share/assets/fonts/Kopdher.woff2') format('woff2')
@font-face
  font-family: 'Osiris'
  src: url('../../share/assets/fonts/Osiris.woff2') format('woff2')

$montserrat: "Montserrat", sans-serif
$kronaOne: "Krona One", sans-serif
$akruxLight: "Akrux Light", sans-serif
$akruxRegular: "Akrux Regular", sans-serif
$akruxBold: "Akrux Bold", sans-serif
$inno: "Inno", sans-serif
$kopdher: "Kopdher", sans-serif
$osiris: "Osiris", sans-serif
